@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.olaLeaf{
  max-width: 300px;
}

.image{
height: 250px;
width: 200px;
}

.center{
display: flex;
justify-content: center;
align-items: center;
}

.condition{
  font-size: 12px;
}

.adminEditButton{
  display: flex;
  justify-content: flex-end;
  float: right;
}
.bottomDiv{
  display: table;
  justify-content: center;
}

.bottomDivLeft{
  display: flex;
  justify-content: center;
  display: table-cell;
  float: left;
  margin: 0 40px 0 40px;
}

.bottomDivRight{
  display: table-cell;
  float: right;
  margin: 0 40px 0 40px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.radioButton{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.submitButton{
  display: flex;
  justify-content: center;
}
