<div>
  <mat-card class="olaLeaf">
        <mat-card-actions>
          <button mat-icon-button style="margin-bottom: 10px; float: right;">
              <mat-icon>edit</mat-icon>
            </button>
      </mat-card-actions>
        <mat-card-content>
          <div class="center">
              <img class="image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          </div>
          <p>Title :</p>
          <p>Written date :</p>
          <div class="bottomDiv">
              <div class = "bottomDivLeft">
                <p  class="condition" [style.color] = "colorChange()">{{bookStatus}}</p>
              </div>
              <div class="bottomDivRight">
                <button  class ="adminEditButton" (click) = "onClickHide()" mat-icon-button>
                  <mat-icon>{{getIcon()}}</mat-icon>
                </button>
              </div>
            </div>
            <div class = "hidden" [hidden]="getHidden()">
              <div class = "radioButton">
                  <mat-radio-group aria-label="Select an option">
                      <mat-radio-button (click) = "onClickColorChange(1)" value="1">Public</mat-radio-button>
                      <mat-radio-button (click) = "onClickColorChange(2)" value="2">Rare</mat-radio-button>
                    </mat-radio-group>
              </div>
              <div  class ="submitButton">
                  <button mat-raised-button color="primary">Submit</button>
              </div>
            </div>
        </mat-card-content>
  </mat-card>
</div>
