<div>
  <mat-card class="olaLeaf" *ngFor="let ola of jsonData">
        <mat-card-content>
          <div class="center">
              <img class="image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          </div>
          <p>Title : {{ ola.displayName }}</p>
          <p>Written date : {{ ola.year }}</p>
          <p>Publisher : {{ola.publisher}}</p>
          <div class="bottomDiv">
              <div class = "bottomDivLeft">
                <p  class="condition" [style.color] = "colorChange()">{{ola.sourceType}}</p>
              </div>
            </div>
            <mat-card-actions class="center">
                <button mat-button color="primary">View more</button>
            </mat-card-actions>
        </mat-card-content>
  </mat-card>
</div>
