<div class="container">
  <div class="col-2" style="margin-bottom: 10px;">
    <button *ngIf="canEdit" class="btn btn-block btn-outline-primary" (click)="openCreate()">Create New</button>
  </div>
  <div class="row">
    <div class="col-4 mb-3" *ngFor="let book of bookOutputDto">
      <mat-card class="example-card">
        <mat-card-header>
          <div style="width: 100%">
            <mat-select style="width: 30%; float: right;" *ngIf="canEdit" (selectionChange)="option($event.value)">
              <mat-option [value]="book">Edit</mat-option>
              <mat-option [value]="book.id" *ngIf="canDelete">Delete</mat-option>
            </mat-select>
          </div>

        </mat-card-header>
        <mat-card-content>
          <p><small>#{{book.category.displayName}}</small></p>
          <h4>{{book.displayName}}</h4>
          <h6>Rs. {{ book.price }}</h6>
          <mat-divider></mat-divider><br />
          <span style="font-size: 12px;">{{book.author.displayName}}</span><br />
          <small>
              {{book.author.emailAddress}}
          </small> 
            
          <i><strong></strong></i>

          <p style="text-align:right">{{book.totalPages}} Pages</p>
          
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>