<div>
  <mat-card class ="newsCard">
      <mat-card-content>
          <mat-card-actions>
              <button mat-icon-button style="margin-bottom: 10px; float: right;">
                  <mat-icon>edit</mat-icon>
                </button>
          </mat-card-actions>
          <div class="center">
              <img class="image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          </div>
          <p>Title :</p>
          <p>Date :</p>
      </mat-card-content>
  </mat-card>
</div>
