<h1 mat-dialog-title>Edit government publication {{govPub.data.displayName}}</h1>
<form class="example-form" (ngSubmit)="onSubmit(govPub.data)">
  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-half-width">
        <input matInput placeholder="Sector" type="text" [(ngModel)]="govPub.data.sector" required
          name="sector">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-half-width">
        <input matInput placeholder="DsiplayName" type="text" [(ngModel)]="govPub.data.displayName" required
          name="displayName">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-half-width">
        <input matInput placeholder="totalPages" type="number" [(ngModel)]="govPub.data.totalPages" required
          name="totalPages">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-half-width">
        <input matInput placeholder="publisher" type="text" [(ngModel)]="govPub.data.publisher" name="publisher">
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-6">
      <mat-form-field class="example-half-width">
        <input matInput placeholder="Price" type="number" [(ngModel)]="govPub.data.price" required name="price">
      </mat-form-field>
    </div>
    <div class="col-6" *ngIf="canType">
      <p class="mat-small">Source Type</p>
      <mat-select [(ngModel)]="govPub.data.sourceType" name="sourceType">
        <mat-option [value]=10>Public</mat-option>
        <mat-option [value]=20>Rare</mat-option>
      </mat-select>
    </div>

  </div>

  <div class="row">
    <div class="col-6">
      <p class="mat-small">Category</p>
      <mat-select [(ngModel)]="govPub.data.category.id" name="id">
        <mat-option *ngFor="let category of categories" [value]=category.id>{{category.displayName}}</mat-option>
      </mat-select>
    </div>
    <div class="col-6">
      <p class="mat-small">Author</p>
      <mat-select [(ngModel)]="govPub.data.author.id" name=id>
        <mat-option *ngFor="let author of authors" [value]=author.id>{{author.displayName}}</mat-option>
      </mat-select>
    </div>
  </div>

  <div mat-dialog-actions class="mt-3">
    <button class="btn btn btn-danger mr-3" (click)="onNoClick()">Close</button>
    <button type="submit" class="btn btn btn-success">Save</button>
  </div>
</form>
