<div class="container" style="margin-top: 20px;">

  <div class="row" *ngIf="isContentError">
    <app-unfilled-content></app-unfilled-content>
  </div>

  <div class="row" *ngIf="isContentFilled">
    <div class="col-4 mb-3" *ngFor="let olaLeaf of olaLeafOutputDto">
      <mat-card class="example-card">
        <mat-card-header>
          <div style="width: 100%">
            <mat-select style="width: 30%; float: right;" *ngIf="canEdit" (selectionChange)="option($event.value)">
              <mat-option [value]="olaLeaf">Edit</mat-option>
              <mat-option [value]="olaLeaf.id" *ngIf="canDelete">Delete</mat-option>
            </mat-select>
          </div>

        </mat-card-header>
        <mat-card-content>
          <p><small>#{{olaLeaf.category.displayName}}</small></p>
          <h4>{{olaLeaf.displayName}}</h4>
          <h6>Rs. {{ olaLeaf.price }}</h6>
          <mat-divider></mat-divider><br />

          <p>{{olaLeaf.description}}</p>

          <mat-divider></mat-divider><br />
          <span style="font-size: 12px;">{{olaLeaf.author.displayName}}</span><br />
          <small>
              {{olaLeaf.author.emailAddress}}
          </small>

          <i><strong></strong></i>
          
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
