<mat-card class="regCard">
    
    <mat-card-actions>
      <button mat-icon-button>
        <mat-icon >keyboard_arrow_left</mat-icon> 
        <span>back to home</span>
      </button>
    </mat-card-actions>
  
    <mat-card-header>
      <h2>Register Portal</h2>
    </mat-card-header>
  

    <div class="formField">
      <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Fistname"
            [errorStateMatcher]="matcher">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </div>

    <div class="formField">
      <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Lastname"
            [errorStateMatcher]="matcher">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </div>

    <div class="formField">
      <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="E-mail address"
            [errorStateMatcher]="matcher">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </div>

  
    <div class="formField">
      <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [errorStateMatcher]="matcher">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </div>

    <div class="formField">
      <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Re-enter Password" [errorStateMatcher]="matcher">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  
    <div class="regBtn">
        <button matRipple mat-raised-button style="background-color: rgb(0, 140, 255); color: white;">Register</button>
    </div>
  
    <div class="loginBtnContainer">
      <div class="loginBtn">
        <p style="display: table-cell; font-size: 14px;">Already a member?</p>
        <a href="#" style="margin-left: 5px; text-decoration: none;">Login here</a>
      </div>
    </div>
  
  
  </mat-card>
  