<h1>Edit news paper details:</h1>
<div mat-dialog-content>
    <div class="formField">
        <mat-form-field class="popUpWidth">
            <input matInput placeholder="News paper title:">
        </mat-form-field>
        <mat-form-field class="popUpWidth">
            <input matInput placeholder="Number of sub-parts:">
        </mat-form-field>
        <mat-form-field class="popUpWidth">
            <input matInput placeholder="News paper author(s):">
        </mat-form-field>
        <mat-form-field class="popUpWidth">
            <input matInput placeholder="News paper publisher(s):">
        </mat-form-field>
        <mat-form-field class="popUpWidth">
            <input matInput placeholder="News paper published date:">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select source type:</mat-label>
            <mat-select>
              <mat-option *ngFor="let type of sourceType" [value]="type.value">
                {{type.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field class="popUpWidth">
            <input matInput placeholder="News paper price:">
        </mat-form-field>
        <mat-form-field class="popUpWidth">
            <input matInput placeholder="News paper category:">
        </mat-form-field>
      </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click) = "onClose()">Cancel</button>
  <button mat-button cdkFocusInitial>Ok</button>
</div>
