<div class="row">

  <div class="col-4 mb-3">
    <mat-card class="example-card">
      <mat-card-content>

        <div style="width: 100px; height: 15px; background-color: rgb(240, 236, 236)"></div>
        <div style="width: 300px; height: 20px; background-color: rgb(219, 216, 216); margin-top: 5px; "></div>
        <div style="width: 60px; height: 15px; background-color: rgb(230, 227, 227); margin-top: 5px; margin-bottom: 5px;"></div>
        <mat-divider></mat-divider><br />
        <div style="width: 140px; height: 15px; background-color: rgb(226, 224, 224);"></div>
        <div style="width: 120px; height: 15px; background-color: rgb(230, 227, 227); margin-top: 5px;"></div>
          
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4 mb-3">
    <mat-card class="example-card">
      <mat-card-content>

        <div style="width: 100px; height: 15px; background-color: rgb(240, 236, 236)"></div>
        <div style="width: 300px; height: 20px; background-color: rgb(219, 216, 216); margin-top: 5px; margin-bottom: 5px;"></div>
        <div style="width: 60px; height: 15px; background-color: rgb(230, 227, 227); margin-top: 5px; margin-bottom: 5px;"></div>
        <mat-divider></mat-divider><br />
        <div style="width: 140px; height: 15px; background-color: rgb(226, 224, 224);"></div>
        <div style="width: 120px; height: 15px; background-color: rgb(235, 232, 232); margin-top: 5px;"></div>
          
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4 mb-3">
    <mat-card class="example-card">
      <mat-card-content>

        <div style="width: 100px; height: 15px; background-color: rgb(240, 236, 236)"></div>
        <div style="width: 300px; height: 20px; background-color: rgb(219, 216, 216); margin-top: 5px; margin-bottom: 5px;"></div>
        <div style="width: 60px; height: 15px; background-color: rgb(230, 227, 227); margin-top: 5px; margin-bottom: 5px;"></div>
        <mat-divider></mat-divider><br />
        <div style="width: 140px; height: 15px; background-color: rgb(226, 224, 224);"></div>
        <div style="width: 120px; height: 15px; background-color: rgb(235, 232, 232); margin-top: 5px;"></div>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4 mb-3">
    <mat-card class="example-card">
      <mat-card-content>
        <div style="width: 100px; height: 15px; background-color: rgb(240, 236, 236)"></div>
        <div style="width: 300px; height: 20px; background-color: rgb(219, 216, 216); margin-top: 5px; margin-bottom: 5px;"></div>
        <div style="width: 60px; height: 15px; background-color: rgb(230, 227, 227); margin-top: 5px; margin-bottom: 5px;"></div>
        <!-- <h6>Rs. {{ book.price }}</h6> -->
        <mat-divider></mat-divider><br />
        <div style="width: 140px; height: 15px; background-color: rgb(226, 224, 224);"></div>
        <div style="width: 120px; height: 15px; background-color: rgb(235, 232, 232); margin-top: 5px;"></div>
          
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4 mb-3">
    <mat-card class="example-card">
      <mat-card-content>
        <div style="width: 100px; height: 15px; background-color: rgb(240, 236, 236)"></div>
        <div style="width: 300px; height: 20px; background-color: rgb(219, 216, 216); margin-top: 5px; margin-bottom: 5px;"></div>
        <div style="width: 60px; height: 15px; background-color: rgb(230, 227, 227); margin-top: 5px; margin-bottom: 5px;"></div>
        <!-- <h6>Rs. {{ book.price }}</h6> -->
        <mat-divider></mat-divider><br />
        <div style="width: 140px; height: 15px; background-color: rgb(226, 224, 224);"></div>
        <div style="width: 120px; height: 15px; background-color: rgb(235, 232, 232); margin-top: 5px;"></div>
          
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4 mb-3">
    <mat-card class="example-card">
      <mat-card-content>
        <div style="width: 100px; height: 15px; background-color: rgb(240, 236, 236)"></div>
        <div style="width: 300px; height: 20px; background-color: rgb(219, 216, 216); margin-top: 5px; margin-bottom: 5px;"></div>
        <div style="width: 60px; height: 15px; background-color: rgb(230, 227, 227); margin-top: 5px; margin-bottom: 5px;"></div>
        <!-- <h6>Rs. {{ book.price }}</h6> -->
        <mat-divider></mat-divider><br />
        <div style="width: 140px; height: 15px; background-color: rgb(226, 224, 224);"></div>
        <div style="width: 120px; height: 15px; background-color: rgb(235, 232, 232); margin-top: 5px;"></div>
          
      </mat-card-content>
    </mat-card>
  </div>

</div>