<div class="buttonDiv">
    <button style="margin: 5px" mat-button color="primary" (click) = "openEdit(jasonData)">Update</button>
    <button style="margin: 5px" mat-button color="primary">Delete</button>
</div>
<div class="mainDiv">
    <div class="imageDiv">
        <img class="image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </div>
    <div class="detailsDiv">
      <div>
        <h1> Publication title :</h1>
        <h2> Sector :</h2>
        <h2> Number of pages:</h2>
        <h2> Authour(s):</h2>
        <h3> Publisher(s) :</h3>
        <p> Published date:</p>
        <p> Source type:</p>
        <p> Price:</p>
        <p> Category :</p>
      </div>
    </div>
</div>
