<div class="buttonDiv">
    <button style="margin: 5px" mat-raised-button color="primary" (click) = "openEdit()">Update</button>
    <button style="margin: 5px" mat-raised-button color="primary">Delete</button>
</div>
<div class="mainDiv">
    <div class="imageDiv">
        <img class="image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </div>
    <div class="detailsDiv">
      <div>
        <h1> Book Title :</h1>
        <h2> Author(s) :</h2>
        <h3> Publisher(s) :</h3>
        <p> Number of pages:</p>
        <p> Description :</p>
        <p> jasssssssssssssssssssssssssssssssssssssssssssssssssssssssssaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
      </div>
    </div>
</div>
