
<div>
  <!--Banner-->
</div>

<p>{{ admin }}</p>

<div class="cardGroup">

  <div class="eachCard">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Books</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
       
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/books">
          <button mat-button>View More</button>
        </a>
      </mat-card-actions>
    </mat-card>

  </div>
  <div class="eachCard">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Newspapers</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
       
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/newspapers">
          <button mat-button>View More</button>
        </a>
      </mat-card-actions>
    </mat-card>

  </div>
  <div class="eachCard">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Government Publications</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
       
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/gvtpub">
          <button mat-button>View More</button>
        </a>
      </mat-card-actions>
    </mat-card>

  </div>
  <div class="eachCard">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Ola leafs</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
       
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/olaleaf">
          <button mat-button>View More</button>
        </a>
      </mat-card-actions>
    </mat-card>

  </div>

</div>