
.header {
    background-color: whitesmoke;
    width: 100%;
    height: 60px;
    box-shadow: 1px 1px 6px lightgrey;
    display: table;
    padding: 0 10px;
}

.navItem {
    display: table-cell;
}