<div class="header">

  <mat-toolbar class="navBarOut">

    <span style="font-size: 32px; font-weight: bold; color: rgb(66, 66, 66);">{{ title }}</span>
  
    <div class="topNav">

      <a routerLink="/">
        <button class="navBarButtons">Contact us</button>
      </a>
      <a routerLink="/">
        <button class="navBarButtons">About us</button>
      </a>
      <a routerLink="/">
        <button class="navBarButtons">Events</button>
      </a>
      <a routerLink="/">
        <button class="navBarButtons">Publications</button>
      </a>
      <a routerLink="/">
        <button class="navBarButtons">Our Services</button>
      </a>
      <a routerLink="/">
        <button class="navBarButtons">Collections</button>
      </a>
      <a routerLink="/">
        <button class="navBarButtons">Home</button>
      </a>
      
    </div>
  
    <div style="margin-left: 20px; color: rgb(94, 94, 94);">
      <span style="font-size: 12px; margin-left: 12px;">Welcome </span> 
      <span style="font-size: 14px; margin-left: 4px; font-weight: bold;">{{ name }}</span> 
    </div>
  
    <div style="margin-left: 20px;">
      
      <a style="text-decoration: none; color: white;" routerLink="/login">
        <button mat-raised-button style="background-color: rgb(0, 140, 255); color: white; margin-left: 10px;">
          Login
        </button>
      </a>

      <a style="text-decoration: none; color: white;" routerLink="/register">
        <button mat-raised-button style="background-color: rgb(0, 140, 255); color: white; margin-left: 10px;">
          Register
        </button>
      </a>


    </div>

  </mat-toolbar>
    
</div>
