@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.example-card {
    max-width: 300px;
}

.image{
  height: 250px;
  width: 200px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
