<div style="display: flex;  flex-wrap: wrap; justify-content: center;">

  <!-- <div style="padding: 20px;"> -->

      <mat-card class="example-card" *ngFor="let data of jsonData" style=" flex: 1 0 20; margin: 25px; ">
          <mat-card-header>
            <p></p>
          </mat-card-header>
          <mat-card-content>
            <div class="center">
                <img class="image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            </div>
            <p>Book Title : {{ data.displayName }}</p>
            <p>Book Author : {{ data.publisher }} </p>
          </mat-card-content>
          <div class="bottomDiv">
            <div class = "bottomDivLeft">
              <p  class="condition" [style.color] = "colorChange()">{{ data.sourceType }}</p>
            </div>
            <div class="bottomDivRight">
              <button  class ="adminEditButton" (click) = "onClickHide()" mat-icon-button>
                <mat-icon>{{ getIcon() }}</mat-icon>
              </button>
            </div>
          </div>
          <div class = "hidden" [hidden]="getHidden()">

              <div class = "radioButton">
                  <mat-radio-group aria-label="Select an option">
                      <mat-radio-button (click) = "onClickColorChange(1)" value="1">Public</mat-radio-button>
                      <mat-radio-button (click) = "onClickColorChange(2)" value="2">Rare</mat-radio-button>
                    </mat-radio-group>
              </div>

              <div  class ="submitButton">
                  <button mat-raised-button color="primary">Submit</button>
              </div>

          </div>

          <mat-card-actions class="center">
            <a routerLink="/bookDetails">
              <button mat-raised-button color="primary">View more</button>
            </a>
          </mat-card-actions>

    </mat-card>

  <!-- </div> -->
 
</div>
