
<div class="col-1" style="margin-bottom: 10px; float: right; margin-right: 50px;">
  <button *ngIf="canEdit" class="btn btn-block btn-outline-primary" (click)="openCreate()">Create New</button>
</div><br /><br />

<table class="col-10" style="margin: 0 auto; border: 1px solid lightgrey;" class="table table-striped">
  <thead>
    <tr style="font-weight: bold;">
      <td width="40%">Username</td>
      <td width="50%">Email</td>
      <td width="10%">Options</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let author of authorOutputDto">
      <td>{{ author.displayName }}</td>
      <td>{{ author.emailAddress }}</td>
      <td>
        <button class="btn btn-block btn-outline-danger" (click)="_onDelete( author.id )">Delete</button>
      </td>
    </tr>
  </tbody>
</table>