<h1>Edit book details:</h1>
<div mat-dialog-content>
    <div class="formField">
        <mat-form-field class="popUpWidth">
            <input matInput placeholder="Book title:">
        </mat-form-field>
        <mat-form-field class="popUpWidth">
            <input matInput placeholder="Author(s):">
        </mat-form-field>
        <mat-form-field class="popUpWidth">
            <input matInput placeholder="Publisher(s):">
        </mat-form-field>
        <mat-form-field class="popUpWidth">
            <input matInput placeholder="Number of pages:">
        </mat-form-field>
        <mat-form-field class="popUpWidth">
            <input matInput placeholder="Description:">
        </mat-form-field>
      </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click) = "onClose()">Cancel</button>
  <button mat-button cdkFocusInitial>Ok</button>
</div>
