<h1>Edit government publication details:</h1>
<div mat-dialog-content>
    <div class="formField">
        <mat-form-field class="popUpWidth">
            <input matInput placeholder="Document title:">
        </mat-form-field>
        <mat-form-field class="popUpWidth">
            <input matInput placeholder="Published date:">
        </mat-form-field>
      </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click) = "onClose()">Cancel</button>
  <button mat-button cdkFocusInitial>Ok</button>
</div>
