<h1 mat-dialog-title>Create Book</h1>
<form class="example-form" (ngSubmit)="onSubmit(govPub)">
  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-half-width">
        <input matInput placeholder="Sector" type="text" [(ngModel)]="govPub.sector" required name="sector">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-half-width">
        <input matInput placeholder="Document Title" type="text" [(ngModel)]="govPub.displayName" required
          name="displayName">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-half-width">
        <input matInput placeholder="Total pages" type="number" [(ngModel)]="govPub.totalPages" required name="totalPages">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-half-width">
        <input matInput placeholder="Publisher Name" type="text" [(ngModel)]="govPub.publisher" name="publisher">
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-6">
      <mat-form-field class="example-half-width">
        <input matInput placeholder="Price" type="number" [(ngModel)]="govPub.price" name="price">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <p class="mat-small">Category</p>
      <mat-select [(ngModel)]="govPub.categoryId" name="categoryId">
        <mat-option *ngFor="let category of categories" [value]=category.id>{{category.displayName}}</mat-option>
      </mat-select>
    </div>
    <div class="col-6">
      <p class="mat-small">Author</p>
      <mat-select [(ngModel)]="govPub.authorId" name=authorId>
        <mat-option *ngFor="let author of authors" [value]=author.id>{{author.displayName}}</mat-option>
      </mat-select>
    </div>
  </div>

  <div mat-dialog-actions class="mt-3">
    <button type="button" class="btn btn btn-danger mr-3" (click)="onNoClick()">Close</button>
    <button type="submit" class="btn btn btn-success">Save</button>
  </div>
</form>
