<div class="container">
  <div class="col-2" style="margin-bottom: 10px;">
        <button *ngIf="canEdit" class="btn btn-block btn-outline-primary" (click)="openCreate()">Create New</button>
  </div>
  <div class="row">
    <div class="col-4 mb-3" *ngFor="let govPub of govPubOutputDto">
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->

          <div style="width: 100%">
            <mat-select style="width: 30%; float: right;" *ngIf="canEdit" (selectionChange)="option($event.value)">
              <mat-option [value]="govPub">Edit</mat-option>
              <mat-option [value]="govPub.id" *ngIf="canDelete">Delete</mat-option>
            </mat-select>
          </div>

          <!-- <mat-card-title>
              {{book.displayName}}
          </mat-card-title>
          <mat-card-subtitle>
              #{{book.category.displayName}}
          </mat-card-subtitle> -->

        </mat-card-header>
        <!-- <mat-divider></mat-divider> -->
        <mat-card-content>
          <p><small>#{{govPub.category.displayName}}</small></p>
          <h4>{{govPub.displayName}}</h4>
          <mat-divider></mat-divider><br />
          <span style="font-size: 12px;">{{govPub.author.displayName}}</span><br />
          <small>
              {{govPub.author.emailAddress}}
          </small>

            <!-- {{govPub.author.displayName}} | {{govPub.author.emailAddress}} -->
          <!-- <p>
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, dignissimos ut maxime dolore enim,
            temporibus reprehenderit
            numquam doloremque cum eos ad! Voluptate modi, vitae iste vel fuga fugiat culpa animi!"
          </p> -->

          <i><strong></strong></i>
          <p style="text-align:right">{{govPub.totalPages}} Pages</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
